
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AngularLayout.cshtml";
}
<ul class="nav nav-pills">
    <li role="presentation" id="home"><a href="/#/">Home</a></li>
    <li role="presentation" id="about"><a href="/#/home">About</a></li>
    <li role="presentation" id="nhanvien"><a href="angular/index">Nhân viên</a></li>

</ul>
<br />

<!--Add view ở đây-->
<div ng-view>

</div>


