<div id="page-wrapper">
    Liên quan đến việc người Trung Quốc đến Đà Nẵng du lịch rồi ở lại làm việc, ông Thơ cho biết, công an sẽ có nghiệp vụ theo dõi riêng. Lãnh đạo TP ý thức rất rõ về việc người nước ngoài ở Đà Nẵng. "Chúng tôi đang giám sát chặt chẽ các hoạt động của người Trung Quốc ở Đà Nẵng theo đúng quy định của pháp luật", ông Thơ nói.

    Về việc người Trung Quốc giấu mặt mua đất, Chủ tịch TP nói, trên hồ sơ thì không có người Trung Quốc mua đất dự án. Nhưng thực tế, có thực tế là người Việt đứng tên nhưng phía sau là người nước ngoài.

    Nêu quan điểm của TP, ông Xuân Anh khẳng định, Đà Nẵng luôn tôn trọng giúp đỡ người nước ngoài đến sinh sống và làm. Người Trung Quốc hay công dân tất cả các nước đến Việt Nam đều được đối xử công bằng như nhau, không bài xích.

    Đối với Trung Quốc, hiện ở TP chỉ có dự án Sivelso, còn lại là của Hàn Quốc và Nhật Bản. Sivelso có nhiều người Trung Quốc đến đánh bạc với 60 chuyến bay đưa khách nước này đến chơi, nghỉ dưỡng.
</div>